{% extends "base.html" %}

{% load pagination_tags %}

{% block content_inner %}
  <h3>My Snippets</h3>

  {% if snippets %}
    <ul>
      {% autopaginate snippets 2 %}
      {% for snippet in snippets %}
        <li>
          <a href="{% url 'snippet_details' snippet.slug %}">
            {{ snippet.title }}
          </a>

          <form method="POST" action="{% url 'snippet_delete' snippet.slug %}"> 
            {% csrf_token %}
            <input type="submit" value="delete">
          </form>
        </li>
      {% endfor %}
    </ul>
    {% paginate %}
  {% else %}
    <p>You have no submitted snippets yet.</p>
  {% endif %}
{% endblock content_inner %}