{% extends "base.html" %}

{% load pagination_tags %}

{% block content_inner %}
  <h3>Snippets</h3>
  {% if snippets %}
    <ul>
      {% autopaginate snippets 2 %}
      {% for snippet in snippets %}
        <li>
          <a href="{% url 'snippet_details' snippet.slug %}">
            {{ snippet.title }}
          </a>

          {% if snippet.author == user %}
            <form method="POST" action="{% url 'snippet_delete' snippet.slug %}"> 
              {% csrf_token %}
              <input type="submit" value="delete">
            </form>
          {% endif %}
          
        </li>
      {% endfor %}
    </ul>
    {% paginate %}
  {% else %}
    <p>There are no snippets yet.</p>
  {% endif %}
{% endblock content_inner %}