{% extends "base.html" %}

{% load pagination_tags %}

{% block content_inner %}
  <h3>Snippets</h3>
  {% if snippets %}
    <table class="table">
      <tbody>
        <tr>
          <th>Title</th>
          <th>Actions</th>
        </tr>
        {% autopaginate snippets 2 %}
        {% for snippet in snippets %}
          <tr>
            <td>
              <a href="{% url 'snippet_details' snippet.slug %}">
                {{ snippet.title }}
              </a>
            </td>
            <td>
              {% if snippet.author == user %}
                <form method="POST" action="{% url 'snippet_delete' snippet.slug %}"> 
                  {% csrf_token %}
                  <input type="submit" value="delete" class="btn btn-danger">
                </form>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% paginate %}
  {% else %}
    <p>There are no snippets yet.</p>
  {% endif %}
{% endblock content_inner %}