{% extends "base.html" %}

{% block content_inner %}
  <h3>Snippet details!</h3>
  <p>title: {{ snippet.title }}</p>
  <p>body: {{ snippet.body }}</p>
  <p>author: {{ snippet.author }}</p>
  <p>slug: {{ snippet.slug }}</p>
  {% if snippet.tags %}
    <p>tags:</p>
    <ul>
      {% for tag in snippet.tags %}
        <li>
          <a href="{% url 'tag_snippets' tag.slug %}">
            {{ tag }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}   


  <a href="{% url 'snippet_update' snippet.slug %}" class="btn btn-info">
    Edit Snippet
  </a>
{% endblock content_inner %}
